.list_main_content{
    margin: 0;
    margin-top: 12vh;
}
.list_container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.list_header{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2vw;

    & .page_title{
        margin: 5%;
        margin-right: 0;
        font-weight: 350;
        font-size: 1rem;
        text-align: left;
        flex-grow: 1;
    }

    & .searchbar{
        margin: 5%;
        font-weight: 350;
        font-size: 1rem;
        text-align: left;
        width: 35%;
        & input {
            width: 100%;
            text-align: left;
            font-size: 1rem;
            border-radius: 0.3em;
            border-color: rgba(0, 0, 0, 0.200);
            border-width: 0.1em;
        }
    }
}

.list{
    height: 12rem;
    width: 45vw;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .list_content{
        height: 100%;
        width: 100%;
        & p{
            width: 90%;
            text-align: left;
            font-size: 0.9rem;
            margin: 10% 5%;
        }
    }
    & .list_buttons{
        height: 5%;
        width: 90%;
        display: flex;
        gap: 10%;
        align-items: center;
        justify-content: right;
        & span{
            margin: 1%;
            font-size: 1.5rem;
            font-weight: 100;
            cursor: pointer;
        }
        
    }
}

@media (min-width:768px){
    .list_main_content{
        margin-left: 240px;
        width: cal(100vw-240px);

    }
    .list_container{
        margin: 0 1%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .list_header{
        & .page_title{
            font-size: 1.5rem;
        }

        & .searchbar{
            font-size: 1.2rem;
            & input {
                font-size: 1.2rem;
            }
        }
    }

    .list{
        height: 90%;
        width: 90%;
        margin: 0.3rem;
        margin-left: 0.5rem;
        & .list_content{
            & p{
                font-size: 1rem;
            }
        }
        & .list_buttons{
            height: 5%;
            & span{
                font-size: 1.8rem;
            }
        }
    }
}