.signup_popup{
  /* alignment */
  height: 75vh;
  width: 30vw;
  position: absolute;
  top: 7rem;
  left: 35vw;
  z-index: 1000;
  /* styles */

  & .signup_content{
    height: 100%;
    width: 100%;

    & h1{
        font-weight: 500;
        font-size: 2rem;
        margin-bottom: 0;
    }
    & p{
        margin-top: 0;
        font-size: 0.7rem;
    }
    & form{
        /* alignment */
        height: 55%;
        width: 60%;
        position: relative;
        left: 4.5rem;
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-bottom: 1px rgba(0, 0, 0, 0.200) solid;
    }
  }
}

.formField{
    /* alignment */
    display: flex;
    flex-direction: column;
    align-items: start;

    & label, input {
        text-align: left;
        margin-bottom: 1%;
        width: 100%;
    }
    & label{
        font-size: 0.9em;
    }
    & input{
        font-size: 1.1rem;
    }
}

@media (max-width:425px){
    .signup_popup{
        /* alignment */
        height: 50%;
        width: 70%;
        position: absolute;
        top: 6rem;
        left: 3.7rem;

        & .signup_content{
            height: clamp(50vh,55vh,70vh);
            & form{
                position: relative;
                left: 3.5rem;
            }
        }
        }

        .signupForm{
            &.btn{
                height: 2.5rem;
                font-size: 1rem;
            }
        
            &.formField{
            
                & input,label{
                    font-size: 1.2em;
                }
            }
    }
        .bottom{
            font-size: 1rem;
        }

}
@media (min-width:425px) and (max-width:1180px){
    .signup_popup{
        /* alignment */
        height: 50%;
        width: 70%;
        position: absolute;
        top: 6rem;
        left: 8rem;

        & .signup_content{
            height: clamp(55vh,72vh,75vh);
            & form{
                position: relative;
                left: 7rem;
            }
        }
        }

        .signupForm {
            & .btn{
                height: 3.5rem;
                font-size: 1.5rem;
            }
            & .formField{
                
                & input,label{
                    font-size: 2em;
                }
            }
        }
        .bottom{
            font-size: 2rem;
        }
}