.main_content{
    width: 100vw;
    margin-top: 0;
    margin-left: 0;
    overflow-x: visible;
}
.card_container{
    height: 100%;
    margin: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.chart_container{
    height: 45vh;
    margin: 5%;
    & .chart{
        height: 100%;
        width: 100%;
        background: white;
        box-shadow: 0 0 0.5rem var(--shadow_radius) var(--shadow_color);
        border-radius: 0.5em;
    }
}
.bottom_container{
    height: 90%;
    display: grid;
    grid-template-areas: 'a b' 'c c';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items:center ;
    justify-items: center;
}
.b_card1{grid-area: a;}
.b_card2{grid-area: b;}
.b_card3{grid-area: c;}
.b_card1, .b_card2, .b_card3{
    background: white;        
    box-shadow: 0 0 0.5rem var(--shadow_radius) var(--shadow_color);
    border-radius: 0.5em;
    width: 80%;
    height: 90%;
    overflow: hidden;
    margin: 3% 3%;
    & h2{
        font-size: 1.2rem;
    }
    &p{
        font-size: 0.5rem;
    }
}

@media (min-width:769px){
    .main_content{
        min-height: calc(100vh-14vh);
        max-width: calc(100vw - 240px);
        margin-top: 12vh;
        margin-left: 240px;
        display: grid;
        grid-template-rows: 2fr 1.3fr;
        grid-template-columns: 1fr 2.5fr;
        grid-template-areas: "a b" "a c";
    }
    .card_container{
        grid-area: a;
        height: 100%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .card_container .card{
            height: 20%;
        }
    .chart_container{
        grid-area: b;
        height: 45vh;
        margin-top: 3%;
        & .chart{
            height: 100%;
            width: 95%;
        }
    }
    .bottom_container{
        grid-area: c;
        height: 90%;
        display: flex;
        gap: 1rem;
        margin: 1%;
    }
    .b_card1, .b_card2, .b_card3{
            width: 30%;
            height: 90%;
            font-size: 1vw;
    }
}